.clip__diagonal{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    object-position: 50% 80%;
}

@media (min-width: 1024px){
    .clip__diagonal{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }
}