@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/gotham_light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../assets/gotham_black.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root{
  --font-color: rgba(31, 31, 31, 1);

  --scrollbar-thumb: #29A7DE;
  --scrollbar-thumb-hover: #4DB9E8;
  --scrollbar-track: rgba(255, 255, 255, 1);
}

/* .dark{
  --scrollbar-thumb: rgba(255, 255, 255, 1);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.75);
  --scrollbar-track: rgba(0, 0, 0, 1);
} */

*{
  color: var(--font-color);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

@media (max-width: 640px){
  ::-webkit-scrollbar {
    display: none;
  }
}